./*.o
./*.swp
./*.xcodeproj
./*.hex
./*.elf
./*.pbxproj
./*.xcworkspacedata
./*.xccheckout
./*.xcuserstate
./*.xcscheme
./*.plist
./*.name
./*.xml
./*.iml
./*.xcuserstate
./*.xcworkspace
./*.xcuserdatad
./*.pyc
matlab/letter_logs/
matlab/*.zip